[run]
branch = True
source = .
include =
        ./*.py
	./*
        ./datatests/src_counts.py
omit =
        *tests*
	./main.py
	./build.py
	./app_logger.py
[report]
exclude_lines = 
        pragma: no cover
        if __name__ == .__main__.:
[html]
directory = coverage_html_report

